@model SimpleCommerce.Models.Customer

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Customer</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.BillingFirstName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BillingFirstName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.BillingLastName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BillingLastName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.BillingIdentityNumber)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BillingIdentityNumber)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.BillingCompanyName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BillingCompanyName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.BillingCountry)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BillingCountry)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.BillingCity)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BillingCity)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.BillingCounty)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BillingCounty)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.BillingDistrict)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BillingDistrict)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.BillingStreet)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BillingStreet)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.BillingAddress)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BillingAddress)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.BillingZipCode)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BillingZipCode)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.BillingEmail)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BillingEmail)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.BillingPhone)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BillingPhone)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ShippingFirstName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ShippingFirstName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ShippingLastName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ShippingLastName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ShippingIdentityNumber)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ShippingIdentityNumber)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ShippingCompanyName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ShippingCompanyName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ShippingCountry)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ShippingCountry)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ShippingCity)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ShippingCity)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ShippingCounty)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ShippingCounty)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ShippingDistrict)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ShippingDistrict)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ShippingStreet)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ShippingStreet)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ShippingAddress)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ShippingAddress)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ShippingZipCode)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ShippingZipCode)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ShippingEmail)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ShippingEmail)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ShippingPhone)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ShippingPhone)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.UserName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UserName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
